html,
body {
    color: white;
}

p {
    font-size: 14px;
}

h1 + p {
    background: url('image.png');
}

.header {
    height: 100px;
}

#content {
    background: steelblue;
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
}